<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.category %>
  </p>

  <p>
    <strong>Earn date:</strong>
    <%= course.earn_date %>
  </p>

  <p>
    <strong>School:</strong>
    <%= course.school %>
  </p>

  <p>
    <strong>Image src:</strong>
    <%= course.image_src %>
  </p>

  <p>
    <strong>Image src thumb:</strong>
    <%= course.image_src_thumb %>
  </p>

</div>
