<div id="<%= dom_id certificate %>">
  <p>
    <strong>Title:</strong>
    <%= certificate.title %>
  </p>

  <p>
    <strong>Earn date:</strong>
    <%= certificate.earn_date %>
  </p>

  <p>
    <strong>Expire date:</strong>
    <%= certificate.expire_date %>
  </p>

  <p>
    <strong>Image src:</strong>
    <%= certificate.image_src %>
  </p>

  <p>
    <strong>Image src thumb:</strong>
    <%= certificate.image_src_thumb %>
  </p>

</div>
